* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #2f303a;
}

/* Navi */

.nav-container {
  background: #2f303a;

  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
  height: 72px;
}

.innovator-container {
  position: absolute;
  top: 50%;
  left: 50%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
}

nav ul {
  display: flex;
}

.nav-items li {
  list-style: none;
  margin-right: 50px;
}

.nav-items li a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  text-decoration: none;
  color: whitesmoke;
}

/* Header */

.header-container {
}

header h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 77px;

  color: black;
}

header p {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;

  color: black;
  margin-bottom: 48px;
}

header a:hover {
  transform: translateY(-8px);
}

header a {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-decoration: none;
  background: yellow;
  border-radius: 8px;
  padding: 12px 48px;
  display: inline-block;
  transition: 300ms;
}
